.App {
  text-align: center;
}
body {
}

.header {
  height: 40vh;
  background: url("https://d2x3xhvgiqkx42.cloudfront.net/c504e38b-3d99-4c48-af47-239bd1a9f548/06ac2c84-3b5a-4c8a-b5a5-3e0195748dd7/2018/02/23/55591114-741f-425f-aa35-5f435bb02821.png");
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 3vh;
}

.calendar {
  height: 48vh;
  width: 45vw;
  margin: auto;
  text-align: center;
  margin-bottom: 2vh;
}

.card {
  height: 30vh;
  width: 30vw;
  margin-right: 2vw;
}
.main {
  display: flex;
}

.card .card-header {
  background-color: goldenrod;
}
.card .card-title {
  font-size: medium;
}
.card .card-footer {
  background-color: goldenrod;
  font-weight: bold;
}
.form {
  display: flex;
  flex-direction: row;
  height: 7vh;
  width: 60vw;
  border: 1px solid black;
  justify-content: space-evenly;
  margin-bottom: 2vh;
}

.desc {
  width: 30vw;
}
.amount {
  width: 10vw;
}
